---
layout: default
---
<html>

  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>

  <body>
    <div class="container">
      <div class="logo-container">
        <img src="logo.png" alt="Logo">
      </div>
      <section>
        {{ content }}
      </section>
      <footer>
        <div class="social-media-links">
          <a href="https://www.instagram.com/lesequenceur" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="https://www.facebook.com/lesequenceur" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://www.youtube.com/channel/UCDFYt5edghvBLcHLSqQcOtA" target="_blank"><i class="fa fa-youtube"></i></a>
          <a href="https://lesequenceur.tumblr.com/" target="_blank"><i class="fa fa-tumblr"></i></a>
        </div>
      </footer>
    </div>
  </body>

</html>
