---
---
<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
        <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
        <link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png">
        <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
        <link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png">
        {% seo %}
    </head>

    <body>
        <header>
          <nav>
            <ul>
              <li>
                <a href="/"><img src="/lesequenceur.svg" alt="Le Séquenceur"></a>
              </li>
              <li><a href="/projets">Projets</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </nav>
        </header>
        <div class="container">
            <section>
                {{ content }}
            </section>
        </div>
        <footer>
            <div class="social-media-links">
                <a href="https://www.instagram.com/lesequenceur" target="_blank"><i class="icon-instagram"></i></a>
                <a href="https://www.facebook.com/lesequenceur" target="_blank"><i class="icon-facebook"></i></a>
                <a href="https://www.youtube.com/channel/UCDFYt5edghvBLcHLSqQcOtA" target="_blank"><i class="icon-youtube"></i></a>
            </div>
        </footer>
    </body>
</html>
