---
layout: event
---

{{ content }}

<p>Attention à bien nous indiquer le kit de ton choix au minimum 1 semaine avant le DIWO, cela nous laissera le temps de le commander et de le recevoir !</p>

<p><a href="/projets/diwo">>>> En savoir plus sur les DIWO et les kits disponibles...</a></p>

<p>Dans tous les cas, nous t'aiderons à la fabrication du kit en question grâce à une petite formation théorique et du matériel de pro !</p>

<p>Participation aux frais : 5€</p>

<p>⚠️  Attention, seulement 5 places sont disponibles !</p>

<h2>⏳ Déroulement de la journée:</h2>

<ul>
  <li>🕙 10h00 : Accueil des participant.e.s</li>
  <li>🕥 10h30 : Présentation théorique des modules achetés sur place (optionnel)</li>
  <li>🕦 11h30 : Présentation de l’outillage mis à dispo et comment l’utiliser. Notions sur le brasage des composant + démo</li>
  <li>🍽️ 12h30 : Pause déjeuner</li>
  <li>🔨 Reste de l’après midi: Fabrication dans l’atelier</li>
  <li>🍻 18h30 : Apéro + jam</li>
</ul>

<h2>Infos pratiques</h2>

<ul>
  <li>📅 Quand ? Le 1er jeudi de chaque mois, de 19h à 22h</li>
  <li>🏡 Où ? IFTEC Lyon : 52 Quai Saint-Vincent, 69001 Lyon</li>
  <li>🚉 Métro A - Hôtel de Ville (10 minutes à pied)</li>
  <li>🚎 Bus 1, 19, C13, C3, C14, S1 / arrêt <i>Terreaux la Feuillée</i> ou <i>Terreaux Tobie Robatel</i> (3 min à pied)</li>
  <li>🍞 N’hésitez pas à apporter un petit quelque chose à partager pour l'apéro : la convivialité est du ressort de chacun.e !</li>
  <li>✔️  <a href="https://www.helloasso.com/associations/lesequenceur/adhesions/adhesion-2023-2024">Adhésion 2023-2024 à l'association Le Séquenceur obligatoire</a></li>
</ul>


